# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/

# CDK
cdk.out/

# Packaging / build artifacts
build/
dist/
*.egg-info/

# OS / Editor
.DS_Store
.idea/
.vscode/

# Logs
*.log

# Local env
.env
